<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <!-- Css Start -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"><!-- Google Fonts css -->
  <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"> <!-- bootstrap css -->
  <link href="/public/assets/font/flaticon/flaticon_demo.css" rel="stylesheet" type="text/css"> <!-- custom css -->
  <link href="/public/vendor/slick/slick.css" rel="stylesheet" type="text/css"> <!-- custom css -->
  <link href="/public/vendor/wow/animate.css" rel="stylesheet" type="text/css"> <!-- custom css -->
  <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css"> <!-- custom css -->
</head>
<body>
  
  <%- include('topbar.ejs') %>
  <%- include('categorySlider.ejs') %>
  <%- include('faq') %>
  <%- include('join') %>
  <%- include('script.ejs') %>
  <%- include('service.ejs') %>
  
  
  <%- body %>

</body>

</html>